* {
  padding: 0;
  margin: 0;
}

header {
  display: inline-block;
  height: 50px;
  width: 100%;
  border: solid black 2px;
  margin-bottom: 40px;
}


#logo {
  margin-left: 1%;
  width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.search-section {
  display: inline-block;
  margin-left: 20%;
  vertical-align: middle;
}

#search {
  height: 30px;
  width: 500px;
  border: solid black 2px;
  border-radius: 40px;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

#search-button {
  width: auto;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: auto;
  margin: 5px;
  width: 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item .item__sku {
  display: none;
}

.item__image {
  width: 100%;
  height: 224px;
}

.item__title {
  padding: 0 10px 10px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.div-priceButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item__price {
  text-align: center;
  font-size: 18px;
  width: 100%;
  padding-bottom: 10px;
}

.item__add {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 900;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  height: 50px;
}

.cart {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid black 2px;
  margin-right: 10px;
}

.cart__title {
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 900;
}


.div-itens {
  padding: 30px;
}

.cart__item {
  margin: 10px 0;
}

.total-price {
  margin-bottom: 10px;
  padding: 20px;
}

.empty-cart {
  width: 50%;
  padding: 10px;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 30px;
}